<mat-toolbar color = "primary">
    <mat-toolbar-row>
        <span><i class="fa-solid fa-futbol"></i></span>&nbsp;
        <span>Soccer-Site</span>
        <div fxFlex fxLayout="row"  fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutgap="20px">
                <li><button class="btn btn-primary"><i class="fa-solid fa-bars"></i></button>
                    <i data-fa-symbol="delete" class="fas fa-trash fa-fw"></i>
                    <i data-fa-symbol="edit" class="fas fa-pencil fa-fw"></i>
                </li>
                <!-- <li>
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                    <mat-menu #appMenu="matMenu">
                        <ng-template matMenuContent let-name="name">
                          <button mat-menu-item>Settings</button>
                          <button mat-menu-item>Log out</button>
                        </ng-template>
                      </mat-menu>
                      
                      <button mat-icon-button [matMenuTriggerFor]="appMenu" [matMenuTriggerData]="{name: 'Sally'}">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      
                      <button mat-icon-button [matMenuTriggerFor]="appMenu" [matMenuTriggerData]="{name: 'Bob'}">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                </li> -->
            </ul>    
        </div>
    </mat-toolbar-row>    
</mat-toolbar>