<!doctype html>
  <html lang="en">
  <head>
    <base href="/">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../../assets/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
    <link rel="stylesheet" href="admin2.component.css" >


    <title>ADMIN DASHBOARD</title>
  </head>
  <body>

    <div class="sidebar">

      <div class="logo-section">
        <div class="logo-name">Soccer Web App</div>
      </div>

      <div class="navbar">

        <a href="#"><i class="fa fa-fw fa-home"></i> Dashboard</a>
        <a href="#"><i class="fa fa-fw fa-search"></i> Coaches</a>
        <a href="#"><i class="fa fa-fw fa-envelope"></i> Referees</a>
        <a href="#"><i class="fa fa-fw fa-user"></i> Teams</a>

      </div>

    </div>

    <div class="main-page">
      <div class="top-bar shadow rounded">

        <div class="row">
          <div class="col-lg-2 topbar-icon-col">
             <a routerLink="/addcoach-page"> <button class="shadow" >Add Referee</button> </a>
          </div>
          <div class="col-lg-2 topbar-icon-col">
              <button class="shadow">Add Manager</button>
          </div>
          <div class="col-lg-2 topbar-icon-col">
              <button class="shadow">Add Sponsor</button>
          </div>
        </div>
      </div>

      <br>

      <div class="container second-row">
        <div class="row">
          <div class="col-lg-4 ">
           <div class="card mb-3 shadow rounded" >
            <div class="row no-gutters">
              <div class="col-md-4 icon-col">
                <div class="icon-circle background-color-2 icon-color-2">
                  <i class="fa fa-fw fa-user "></i>
                </div>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">8780</h5>
                  <p class="card-text">Users</p>
                  <p class="card-subtext">Total users registered and active</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 ">
          <div class="card mb-3 shadow rounded" >
            <div class="row no-gutters">
              <div class="col-md-4 icon-col">
                <div class="icon-circle background-color-1 icon-color-1">
                  <i class="fa fa-fw fa-user"></i>
                </div>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">8780</h5>
                  <p class="card-text">Coaches</p>
                  <p class="card-subtext">Total coaches registered and active</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 ">
          <div class="card mb-3 shadow rounded" >
            <div class="row no-gutters">
              <div class="col-md-4 icon-col">
                <div class="icon-circle background-color-3 icon-color-3 ">
                  <i class="fa fa-fw fa-user"></i>
                </div>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">8780</h5>
                  <p class="card-text">Teams</p>
                  <p class="card-subtext">Total coaches registered and active</p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>


  </div>





  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>