body{
	background-color: #f3f3f3;
}
* {
    box-sizing: border-box;
  }

.addButton{
	background-color: blue;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	padding: 10px;
}

.background-color-1{
	background-color: rgba(216, 40, 43, 0.4);
}

.background-color-2{
	background-color: rgba(0, 123, 225, 0.4);
}


.background-color-3{
	background-color: rgba(255, 193, 8, 0.4);
}

.btn-primary {
	background-color: #D8282B;
	border-color: #D8282B;
}

.btn{
	width: 100%;
}

.btn-primary-2{
	background-color: #D8282B;
	border-color: #D8282B;
	color: white;
	width: 30%;
}

.card{
	padding-left: 2rem;
	padding-right: 2rem;
}

.container{
	padding: 0;
}



.edit-user-btn{
	color: green;
}

.delete-user-btn{
	color: #AF272F;
}

.second-row .icon-col{
	position: relative;
}


.icon-color-1 i{
	color: #D8282B;
}

.icon-color-2 i{
	color: #284C88;
}

.icon-color-3 i{
	color: #FEDB00;
}

.line{
	/*height: 0.2rem;*/
	/*border: 1px solid black;*/
	border-top: 0.05rem solid black;
}
.logo-name{
	color: white;
	font-size: 1.5rem;
}

.main-page{
	width: calc(100vw - 15rem);
	margin-left: 15rem; 
	padding: 0.4rem 1rem 0 1rem;
	/*margin-top: 80px;*/
	
}

.navbar{
	padding: 0;
}

.navbar a{
	float: left;
	text-align: center;
	display: block;
	padding: 1rem 0.5rem;
	color: white;
	text-decoration: none;
}


.profile-image{
	/*background-image: url("../assets/images/profile.jpeg");*/
	width: 50px;
	height: 50px;
	background-color: blue;
	background-size: cover;
	background-position: top center;
	border-radius: 50%;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.profile-text{
	position: relative;
}

.profile-text-title{
	font-weight: bold;
	font-size: 0.8rem;
}

.profile-text-subtitle{
	font-weight: 400;
	font-size: 0.7rem;
}

.profile-child{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.profile-text p{
	font-size: 0.7rem;
	margin-bottom: 0;
}

.profile-image img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.profile-image-row{
	background-color: blue;
}



.sidebar{
	position: fixed;
	left: 0;
	top: 0;
	width: 15rem;
	height: 83%;
	background-color: #AF272F;
	/*padding: 2rem;*/
	padding-top: 2rem;
	padding-left: 0.2rem;
	padding-right: 0.2rem;
	z-index: -1;
	float: left;
	margin-top: 60px;
}


.second-row .card-title{
	margin-bottom: 0;
	font-size: 1.85rem;
}

.second-row .card-text{
	font-weight: 300;
	font-size: 0.8rem;
	margin-bottom: 0.6rem;
}

.second-row .card-subtext {
	font-weight: 300;
	font-size: 0.7rem;
	color: grey;
}

.second-row i{
	font-size: 30px;
	
}

.second-row .icon-circle {
	border-radius: 50%;
	padding: 10px;
	width: 50px;
	height: 50px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.second-row .icon-col i{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.second-row .card{
	border: none;
}

.subtitle {
	font-size: 0.8rem;
}

.top-bar{
	/*margin-top: 50px;*/
	width: 100%;
	height: 4rem;
	background-color: white;
}

.top-bar .row{
	height: 4rem;
	padding-left: 1rem;
}

.top-bar .topbar-icon-col{
	position: relative;
}

.top-bar .topbar-icon-col i{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}


.top-bar .icon-circle {
	border-radius: 50%;
	padding: 10px;
	width: 35px;
	height: 35px;
	display: table;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


.top-bar button{
	border: 1px;
	background: #db393c;
	width: 150px;
	height: 34px;
	border-radius: 5px;
	color: white;
	display: table;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 0.8rem;
}

.tournamentDetails p{
	font-size: 0.6rem;
	margin-bottom: 0.5rem;

}

.tournamentApplicationForm p{
	font-size: 0.6rem;
	margin-bottom: 0.5rem;
}

.tournamentApplicationForm .label{
	text-align: right;
}

.input-group i{
	font-size: 14px;
}

.align-vertically{
	position: absolute;
	margin-top: 4rem;
	/*top: 30%;
	left: 30%;
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	margin-top: 3rem;*/
}

input, select {
	height: 30px;
}

/*.highlightsImage{
	height: 1rem;
	background-color: blue;
}*/

.highlightsImage{
	height: 10rem;
	width: 80rem;
	/*background-image: url("../../../assets/images/1.jpg");*/
	/*background: ;
	content:url(../assets/images/1.jpg);*/
	background-color: blue;
	margin-bottom: 0.2rem;
}
.highlightsImage img{
width: 100%; /* or any custom size */
    height: 100%; 
    object-fit: fill;
}
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }