<div class="sidebar">

  <div class="logo-section">
    <div class="logo-name" style="text-align:center; font-size: 1rem;">2020 Highlights</div>
  </div>
  <br>
  <div class="navbar">
    <!-- <div class="highlights"></div> -->
    <div class="highlightsImage">
      <img src="../assets/images/6.jpeg">
    </div>
    <div class="highlightsImage">
      <img src="../assets/images/5.jpeg">
    </div>
    <div class="highlightsImage">
      <img src="../assets/images/4.jpeg">
    </div>
  </div>
</div>
<!--<div class="main-page align-vertically">
  <div class="tournamentDetails row">

    <h4> Frequently Asked Questions</h4>
 <div class="col-lg-12 ">
   <div class="card mb-3 shadow rounded" >
    <br>
    <h5>General</h5>
    <p> <b>Do you have a paper application I can fill out?</b> </p>
    <p> All applications are only accepted online at our web site. This will enable us to more accurately capture your team's data as well as reduce the time it takes to evaluate teams for acceptance after the application deadline. Our website has been a reliable tool for information, games schedules, and scores since our 2000 event and will continue to play a bigger role with each year. </p>
    <p> <b>Do you want to check on the status of your team?</b> </p>
    <p> Log in using your assigned team ID number (Like WSC123456789 or WFC 123456789) that was assigned to you when you registered. Go to the log in box under the Coaches tab in the left rail. </p>
    <p> <b>How do I place my team in one division or the other?</b> </p>
    <p>  Your team will be placed in the division to be the most competitive with other teams that apply. However, you may help the selection committee by indicating your choice on the application form. Level 1-GOLD; Level 2-RED; Level 3-WHITE; &amp; Level 4-BLUE divisions. If we only have 2 levels in an age group then only GOLD and RED will be used.</p>
    <p><b>When do I send travel permit?</b></p>
    <p>DO NOT SEND A TRAVEL PERMIT WITH YOUR APPLICATION. This is only required when/if your team is accepted. Travel permits are REQUIRED for all teams who are registered outside Ohio South (OSYSA) except for US Club Soccer that does not require travel permits. You should submit your Pre Registration travel permit with your on line registration items.</p>
    <p><b>Does the Classic have 2 divisions per age group?</b></p>
    <p>Depending on the number of teams in any given age group applying to the adidas Warrior Halloween Fall Soccer Classic, some age groups may consist of a Gold, Red, White divisions depending upon numbers. The Gold Division will be the upper division, Red is middle and White is lower. However, not all age groups will have 2 or 3 levels of play.</p>
    <p><b>Where and when will the schedules be posted?</b></p>
    <p>The schedule may be posted as early as the the first week in October. If you are listed as the contact for the team, you will be sent an email when the schedules are posted. You can access the game schedules, scores and photos by clicking on the GAMES/SCORES tab in the red menu across the top of any page OR by selecting your division in the drop down menu along the left side of any page on the site. You may also search by Club.</p>
    <p><b>Can US Youth Soccer players and coaches participate as a guest player or coach on a US Club team and vice versa?</b></p>
    <p>No. See US Youth Soccer Travel Procedure 7.12.1.</p>
  </div>
</div>
</div>

<div class="container second-row" bgcolor="e5e5e5">
<div class="row tournamentDetails">
  <div class="col-lg-12 ">
   <div class="card mb-3 shadow rounded" >
    <br>
    <h6> REGISTRATION INFORMATION  </h6>
    <!-- <p>Login below with your REF ID to see your schedules</p>
    <p><b>Can I register my team early if I have everything completed and so I do not have to attend registration on Friday night?</b></p>
    <p>There will be no Friday night registration. All registrations will be online for your convenience.</p>
    <p><b>Can we substitute the liability form with a generic one?</b></p>
    <p>NO!! You must use the liability release supplied with the acceptance packet.</p>
    <p><b>Do I need to fill out of the Contact Form if I am local and not staying in a hotel?</b></p>
    <p>Yes, all teams MUST fill out and turn in this form. The form contains contact information the tournament may need to use during the tournament and it must be current and accurate.</p>



  </div>
</div>


</div>
</div>

</div>-->

<div class="main-page align-vertically">
  <div class="tournamentDetails row">

    <h4> Frequently Asked Questions</h4>
 <div class="col-lg-12 ">
   <div class="card mb-3 shadow rounded" >

<br>
         <h6> General</h6>
         <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header [collapsedHeight]="CollapsedHeight" [expandedHeight]="ExpandedHeight" matRipple>
              <mat-panel-title>
                Do you have a paper application I can fill out?
              </mat-panel-title>

            </mat-expansion-panel-header>
            <mat-panel-description>
              All applications are only accepted online at our web site. This will enable us to more accurately capture
              your team's data as well as reduce the time it takes to evaluate teams for acceptance after the
              application deadline. Our website has been a reliable tool for information, games schedules, and scores
              since our 2000 event and will continue to play a bigger role with each year. an be assisted by
              technologies such as Cascading Style Sheets and scripting languages such as
              JavaScript.
            </mat-panel-description>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header [collapsedHeight]="CollapsedHeight" [expandedHeight]="ExpandedHeight" matRipple>
              <mat-panel-title>
                Do you want to check on the status of your team?
              </mat-panel-title>

            </mat-expansion-panel-header>
            <mat-panel-description>
              Log in using your assigned team ID number (Like WSC123456789 or WFC 123456789) that was assigned to you
              when you registered. Go to the log in box under the Coaches tab in the left rail.
            </mat-panel-description>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header [collapsedHeight]="CollapsedHeight" [expandedHeight]="ExpandedHeight" matRipple>
              <mat-panel-title>
               How do I place my team in one division or the other?
              </mat-panel-title>

            </mat-expansion-panel-header>
            <mat-panel-description>
              Your team will be placed in the division to be the most competitive with other teams that apply.
              However, you may help the selection committee by indicating your choice on the application form.
              Level 1-GOLD; Level 2-RED; Level 3-WHITE; &amp; Level 4-BLUE divisions. If we only have 2 levels in
              an age group then only GOLD and RED will be used.
            </mat-panel-description>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header [collapsedHeight]="CollapsedHeight" [expandedHeight]="ExpandedHeight" matRipple>
              <mat-panel-title>
                When do I send travel permit?
              </mat-panel-title>

            </mat-expansion-panel-header>
            <mat-panel-description>
              DO NOT SEND A TRAVEL PERMIT WITH YOUR APPLICATION. This is only required when/if your team is accepted.
              Travel permits are REQUIRED for all teams who are registered outside Ohio South (OSYSA) except for US Club
              Soccer that does not require travel permits. You should submit your Pre Registration travel permit with
              your on line registration items.
            </mat-panel-description>
          </mat-expansion-panel>
           <mat-expansion-panel>
             <mat-expansion-panel-header [collapsedHeight]="CollapsedHeight" [expandedHeight]="ExpandedHeight" matRipple>
               <mat-panel-title>
                 Does the Classic have 2 divisions per age group?
               </mat-panel-title>

             </mat-expansion-panel-header>
             <mat-panel-description>
               Depending on the number of teams in any given age group applying to the adidas Warrior Halloween Fall
               Soccer Classic, some age groups may consist of a Gold, Red, White divisions depending upon numbers.
               The Gold Division will be the upper division, Red is middle and White is lower. However, not all age
               groups will have 2 or 3 levels of play.
             </mat-panel-description>
           </mat-expansion-panel>
           <mat-expansion-panel>
             <mat-expansion-panel-header [collapsedHeight]="CollapsedHeight" [expandedHeight]="ExpandedHeight" matRipple>
               <mat-panel-title>
                 Where and when will the schedules be posted?
               </mat-panel-title>

             </mat-expansion-panel-header>
             <mat-panel-description>
               The schedule may be posted as early as the the first week in October. If you are listed as the contact
               for the team, you will be sent an email when the schedules are posted. You can access the game schedules,
               scores and photos by clicking on the GAMES/SCORES tab in the red menu across the top of any page OR by
               selecting your division in the drop down menu along the left side of any page on the site. You may also
               search by Club.
             </mat-panel-description>
           </mat-expansion-panel>
           <mat-expansion-panel>
             <mat-expansion-panel-header [collapsedHeight]="CollapsedHeight" [expandedHeight]="ExpandedHeight" matRipple>
               <mat-panel-title>
                 Can US Youth Soccer players and coaches participate as a guest player or coach on a US Club team and
                 vice versa?
               </mat-panel-title>

             </mat-expansion-panel-header>
             <mat-panel-description>
               No. See US Youth Soccer Travel Procedure 7.12.1.
             </mat-panel-description>
           </mat-expansion-panel>
        </mat-accordion>
      </div>
 </div>



<div class="container second-row" bgcolor="e5e5e5">
  <div class="row tournamentDetails">
    <div class="col-lg-12 ">
      <div class="card mb-3 shadow rounded" >

        <br>
        <h6> REGISTRATION INFORMATION  </h6>
        <!-- <p>Login below with your REF ID to see your schedules</p> -->
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header [collapsedHeight]="CollapsedHeight" [expandedHeight]="ExpandedHeight" matRipple>
              <mat-panel-title>
                Can I register my team early if I have everything completed and so I do not have to attend registration
                on Friday night?
              </mat-panel-title>

            </mat-expansion-panel-header>
            <mat-panel-description>
              There will be no Friday night registration. All registrations will be online for your convenience.
            </mat-panel-description>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header [collapsedHeight]="CollapsedHeight" [expandedHeight]="ExpandedHeight" matRipple>
              <mat-panel-title>
                Can we substitute the liability form with a generic one?
              </mat-panel-title>

            </mat-expansion-panel-header>
            <mat-panel-description>
              NO!! You must use the liability release supplied with the acceptance packet.
            </mat-panel-description>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header [collapsedHeight]="CollapsedHeight" [expandedHeight]="ExpandedHeight" matRipple>
              <mat-panel-title>
                Do I need to fill out of the Contact Form if I am local and not staying in a hotel?

              </mat-panel-title>

            </mat-expansion-panel-header>
            <mat-panel-description>
              Yes, all teams MUST fill out and turn in this form. The form contains contact information the tournament
              may need to use during the tournament and it must be current and accurate.
            </mat-panel-description>
          </mat-expansion-panel>

          </mat-accordion>



      </div>
    </div>


  </div>
</div>

