<br><br><br><br><br><br><br><br>
<div class="container">
        <mat-accordion>

          <mat-expansion-panel>
            <mat-expansion-panel-header [collapsedHeight]="CollapsedHeight" [expandedHeight]="ExpandedHeight" matRipple>
              <mat-panel-title>
                What is HTML ?
              </mat-panel-title>

            </mat-expansion-panel-header>
            <mat-panel-description>
              Hypertext Markup Language is the standard markup language for documents designed to be displayed in a web
              browser. It can be assisted by technologies such as Cascading Style Sheets and scripting languages such as
              JavaScript.
            </mat-panel-description>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header [collapsedHeight]="CollapsedHeight" [expandedHeight]="ExpandedHeight" matRipple>
              <mat-panel-title>
                What is CSS ?
              </mat-panel-title>

            </mat-expansion-panel-header>
            <mat-panel-description>
              Cascading Style Sheets is a style sheet language used for describing the presentation of a document written in a
              markup language such as HTML. CSS is a cornerstone technology of the World Wide Web, alongside HTML and
              JavaScript.
            </mat-panel-description>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header [collapsedHeight]="CollapsedHeight" [expandedHeight]="ExpandedHeight" matRipple>
              <mat-panel-title>
                What is Javascript?
              </mat-panel-title>

            </mat-expansion-panel-header>
            <mat-panel-description>
              JavaScript, often abbreviated as JS, is a programming language that conforms to the ECMAScript specification.
              JavaScript is high-level, often just-in-time compiled, and multi-paradigm. It has curly-bracket syntax, dynamic
              typing, prototype-based object-orientation, and first-class functions.
            </mat-panel-description>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header [collapsedHeight]="CollapsedHeight" [expandedHeight]="ExpandedHeight" matRipple>
              <mat-panel-title>
                What is Angular?
              </mat-panel-title>

            </mat-expansion-panel-header>
            <mat-panel-description>
              Angular is a TypeScript-based open-source web application framework led by the Angular Team at Google and by a
              community of individuals and corporations. Angular is a complete rewrite from the same team that built
              AngularJS.
            </mat-panel-description>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
