/* You can add global styles to this file, and also import other style files */


body{
	/*background-image: url("../../assets/images/2.jpg");
	background-size: cover;*/
	/*background-color: #D8282B;*/
	/*background-color: #AF272F;*/
	/*font-family: "Muli", serif;*/
	background-image: url("../assets/images/7.jpeg");
}


.navbar{
	width: 150%;
	height: 4rem;
	background-color:floralwhite;
  opacity: 1;
	position: fixed;
	margin-top: 0;
	/*margin-top: auto;*/
	padding: 10;
  font-style: normal;
	font-size: 4rem;
}

.navbar1{
	padding: 0;
}

.navbar a{
	float: left;
	text-align: center;
	display: block;
	padding: 1rem 1.0rem;
	color: black;
	text-decoration: none;
	font-size: 4rem;
}

.navbar .logo-col{
	padding: 1rem 1.5rem;
}

.container1{
	background-color: #0000;
	font-size: 4rem;
}
.navbar .container{
	margin-left: 0rem;
	font-size: 4rem;
}
@media (min-width: 1200px){
	.navbar .container{
	max-width: 1200px;
	font-size: 4rem;
}
}

.row{
	width: 100%;
}

.register-card{
	width: 50rem;
	margin: auto;

}

.register-card .left-col{
	background-image: url("../assets/images/3.jpg");
	background-size: COVER;
	background-repeat: no-repeat;
}

.align-vertically{
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	margin-top: 3rem;
}


.card-body{
	padding: 0;

}

.card-body .right-col{
	padding-top: 4rem;
	padding-bottom: 4rem;
	padding-right: 3rem;
	padding-left: 3rem;
}


.input-group-text{
	background-color: #D8282B;
	color: white;
}


.btn-primary {
	background-color: #D8282B;
	border-color: #D8282B;
}

.btn{
	width: 100%;
}


.menu-col a{
	font-size: 0.8rem;
}

.main-page1{
	width: calc(100vw - 15rem);
	margin-left: 15rem;
	padding: 0.4rem 1rem 0 1rem;
	/*margin-top: 80px;*/

}

.align-vertically1{
	position: absolute;
	margin-top: 4rem;
	/*top: 30%;
	left: 30%;
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	margin-top: 3rem;*/
}

.details p{
	font-size: 0.7rem;
	margin-bottom: 0.5rem;
  background-color:"e5e5e5";

}

.card1{
	padding-left: 2rem;
	padding-right: 2rem;
}





/*body{
	background-color: #f3f3f3;
}

.addButton{
	background-color: blue;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	padding: 10px;
}

.background-color-1{
	background-color: rgba(216, 40, 43, 0.4);
}

.background-color-2{
	background-color: rgba(0, 123, 225, 0.4);
}


.background-color-3{
	background-color: rgba(255, 193, 8, 0.4);
}

.container{
	padding: 0;
}

.edit-user-btn{
	color: green;
}

.delete-user-btn{
	color: #AF272F;
}

.second-row .icon-col{
	position: relative;
}


.icon-color-1 i{
	color: #D8282B;
}

.icon-color-2 i{
	color: #284C88;
}

.icon-color-3 i{
	color: #FEDB00;
}


.logo-name{
	color: white;
	font-size: 1.5rem;
}

.main-page{
	width: calc(100vw - 15rem);
	margin-left: 15rem;
	padding: 0.4rem 1rem 0 1rem;

}

.navbar{
	padding: 0;
}

.navbar a{
	float: left;
	text-align: center;
	display: block;
	padding: 1rem 0.5rem;
	color: white;
	text-decoration: none;
}

.profile-image{
	background-image: url("../assets/images/profile.jpeg");
	width: 50px;
	height: 50px;
	background-color: blue;
	background-size: cover;
	background-position: top center;
	border-radius: 50%;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.profile-text{
	position: relative;
}

.profile-text-title{
	font-weight: bold;
	font-size: 0.8rem;
}

.profile-text-subtitle{
	font-weight: 400;
	font-size: 0.7rem;
}

.profile-child{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.profile-text p{
	font-size: 0.7rem;
	margin-bottom: 0;
}

.profile-image img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.profile-image-row{
	background-color: blue;
}

*/

.sidebar{
	position: fixed;
	left: 0;
	top: 0;
	width: 15rem;
	height: 100%;
	background-color: #AF272F;
	padding: 2rem;
	z-index: 99;
	float: left;
}
.sidebar1{
	position: fixed;
	left: 0;
	top: 0;
	width: 15rem;
	height: 100%;
	background-color: #AF272F;
	/*padding: 2rem;*/
	padding-top: 2rem;
	padding-left: 0.2rem;
	padding-right: 0.2rem;
	z-index: -1;
	float: left;
	margin-top: 60px;
}

.logo-name{
	color: white;
	font-size: 1.5rem;
}

.highlightsImage{
	height: 10rem;
	width: 14.5rem;
	/*background-image: url("../../../assets/images/1.jpg");*/
	/*background: ;
	content:url(../assets/images/1.jpg);*/
	background-color: blue;
	margin-bottom: 0.2rem;
}
.highlightsImage img{
width: 100%; /* or any custom size */
    height: 100%;
    object-fit: fill;
}
a1 {
	margin-bottom: 2px;
  }

a:hover {
	/*background-color: #AF272F;*/
	color: white;
    background:  rgba(110, 78, 12, 0.493);
    text-decoration: none;

  }

/*
.second-row .card-title{
	margin-bottom: 0;
	font-size: 1.85rem;
}

.second-row .card-text{
	font-weight: 300;
	font-size: 0.8rem;
	margin-bottom: 0.6rem;
}

.second-row .card-subtext {
	font-weight: 300;
	font-size: 0.7rem;
	color: grey;
}

.second-row i{
	font-size: 30px;

}

.second-row .icon-circle {
	border-radius: 50%;
	padding: 10px;
	width: 50px;
	height: 50px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.second-row .icon-col i{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.second-row .card{
	border: none;
}


.top-bar{
	width: 100%;
	height: 4rem;
	background-color: white;
}

.top-bar .row{
	height: 4rem;
	padding-left: 1rem;
}

.top-bar .topbar-icon-col{
	position: relative;
}

.top-bar .topbar-icon-col i{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}


.top-bar .icon-circle {
	border-radius: 50%;
	padding: 10px;
	width: 35px;
	height: 35px;
	display: table;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


.top-bar button{
	border: 1px;
	background: #db393c;
	width: 150px;
	height: 34px;
	border-radius: 5px;
	color: white;
	display: table;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 0.8rem;
}




*/
