<div class="navbar">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 logo-col">
            
            <h5 style="text-align: left;" >ASU Sparky Soccer Tournament</h5><br>
          </div>

          <div class="col-lg-8 menu-col">
            

            <a routerLink="/home"> Home</a>


            <a routerLink="/tournamentDirectorLoginPage">Tournament Dir.</a>
            <a routerLink="/teamDirectorDashboard">Team Dir.</a>
            <a routerLink="/refereeLoginOrRegister" href="#"> Referees</a>
            <a routerLink="/searchMatchSchedule">Teams,Schedules,Scores</a> 
            <a routerLink="/F.A.Q." > F.A.Q</a>
            <a routerLink="/teamLoginOrRegister">Apply</a>            

          </div>
        
        

          <!-- <div class="col-lg-3 right-col">
            <a href="#"><i class="fa fa-user-circle"></i> Login/Register</a>
          </div> -->

        </div>
      </div>
    </div>

  

     <router-outlet></router-outlet>
 

 <!-- <div class="top-bar shadow rounded">

        <div class="row">
          <div class="col-lg-2 topbar-icon-col">
           <a routerLink="/allusers"> <button class="shadow" >Show All Users</button> </a>
         </div>
          <div class="col-lg-2 topbar-icon-col">
           <a routerLink="/add-referee"> <button class="shadow" >Add Referee</button> </a>
         </div>
         <div class="col-lg-2 topbar-icon-col">
          <button class="shadow">Add Manager</button>
        </div>
        <div class="col-lg-3"></div>

        <div class="col-lg-3 topbar-icon-col">
          <div class="row no-gutters">
            <div class="col-lg-6 profile-text">
              <div class="profile-child">
               <p class="profile-text-title">Jane Doe</p>
               <p class="profile-text-subtitle">Admin</p>
             </div>
           </div>

           <div class="col-lg-3">
            <div class="profile-image"></div>
          </div>
        </div>
      </div>

    </div>
  </div>
<br>
  <div class="container second-row">
    <div class="row">
      <div class="col-lg-4 ">
       <div class="card mb-3 shadow rounded" >
        <div class="row no-gutters">
          <div class="col-md-4 icon-col">
            <div class="icon-circle background-color-2 icon-color-2">
              <i class="fa fa-fw fa-user "></i>
            </div>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">8780</h5>
              <p class="card-text">Users</p>
              <p class="card-subtext">Total users registered and active</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 ">
      <div class="card mb-3 shadow rounded" >
        <div class="row no-gutters">
          <div class="col-md-4 icon-col">
            <div class="icon-circle background-color-1 icon-color-1">
              <i class="fa fa-fw fa-user"></i>
            </div>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">8780</h5>
              <p class="card-text">Coaches</p>
              <p class="card-subtext">Total coaches registered and active</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 ">
      <div class="card mb-3 shadow rounded" >
        <div class="row no-gutters">
          <div class="col-md-4 icon-col">
            <div class="icon-circle background-color-3 icon-color-3 ">
              <i class="fa fa-fw fa-user"></i>
            </div>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">8780</h5>
              <p class="card-text">Teams</p>
              <p class="card-subtext">Total coaches registered and active</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>


  <div class="third-row">
  <div class="card mb-3 shadow rounded">
   <div class="card-body">

     <router-outlet></router-outlet>

</div>
</div>
</div>

 -->