<div class="sidebar1">

  <div class="logo-section">
    <div class="logo-name" style="text-align:center; font-size: 1rem;">2020 Highlights</div>
  </div>
  <br>
  <div class="navbar1">
    <!-- <div class="highlights"></div> -->
    <div class="highlightsImage">
      <img src="../assets/images/6.jpeg">
    </div>
    <div class="highlightsImage">
      <img src="../assets/images/5.jpeg">
    </div>
    <div class="highlightsImage">
      <img src="../assets/images/4.jpeg">
    </div>
  </div>
</div>
<div class="navbar">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 logo-col">
            
            <h5 style="text-align: left;font-size: 1.2rem;" ><b>ASU Sparky Soccer Tournament</b></h5><br>
          </div>

          <div class="col-lg-10 menu-col" style="position: absolute; margin-left: 20%;">
            <a routerLink="/home" style="font-size: 0.95rem;"> <b>Home</b></a>
            <!-- <a routerLink="/tournamentDirectorLoginPage">Tournament Dir.</a> -->
            <!-- <a routerLink="/teamDirectorDashboard">Team Dir.</a> -->
            <a routerLink="/teamLoginOrRegister" style="font-size: 0.95rem;"><b>Apply</b></a>
            <a routerLink="/allDirectorLoginPage" style="font-size: 0.95rem;"><b>Admin</b></a>
            <a routerLink="/refereeLoginOrRegister" href="#" style="font-size: 0.95rem;"><b> Referees</b></a>

            <a routerLink="/volunteerLoginOrRegister" href="#" style="font-size: 0.95rem;"> <b>Volunteers</b></a>

            <a routerLink="/searchMatchSchedule" style="font-size: 0.9rem;"><b> Teams,Schedules,Scores</b></a>
            <a routerLink="/sponsors" style="font-size: 0.9rem;"><b> Sponsors</b></a> 
            <a routerLink="/app-hotels" style="font-size: 0.9rem;"><b> Hotels</b></a> 
            <a routerLink="/F.A.Q." style="font-size: 0.9rem;"><b> FAQs</b></a>
                     
          </div>
          <!-- <div class="col-lg-3 right-col">
            <a href="#"><i class="fa fa-user-circle"></i> Login/Register</a>
          </div> -->

        </div>
      </div>
    </div>
    <div class="main-page1 align-vertically1">
      <div class="details row">
        <div class="col-lg-12 ">
          
        </div>
      </div>
    </div>
    
  

     <router-outlet></router-outlet>
 

 <!-- <div class="top-bar shadow rounded">

        <div class="row">
          <div class="col-lg-2 topbar-icon-col">
           <a routerLink="/allusers"> <button class="shadow" >Show All Users</button> </a>
         </div>
          <div class="col-lg-2 topbar-icon-col">
           <a routerLink="/add-referee"> <button class="shadow" >Add Referee</button> </a>
         </div>
         <div class="col-lg-2 topbar-icon-col">
          <button class="shadow">Add Manager</button>
        </div>
        <div class="col-lg-3"></div>

        <div class="col-lg-3 topbar-icon-col">
          <div class="row no-gutters">
            <div class="col-lg-6 profile-text">
              <div class="profile-child">
               <p class="profile-text-title">Jane Doe</p>
               <p class="profile-text-subtitle">Admin</p>
             </div>
           </div>

           <div class="col-lg-3">
            <div class="profile-image"></div>
          </div>
        </div>
      </div>

    </div>
  </div>
<br>
  <div class="container second-row">
    <div class="row">
      <div class="col-lg-4 ">
       <div class="card mb-3 shadow rounded" >
        <div class="row no-gutters">
          <div class="col-md-4 icon-col">
            <div class="icon-circle background-color-2 icon-color-2">
              <i class="fa fa-fw fa-user "></i>
            </div>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">8780</h5>
              <p class="card-text">Users</p>
              <p class="card-subtext">Total users registered and active</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 ">
      <div class="card mb-3 shadow rounded" >
        <div class="row no-gutters">
          <div class="col-md-4 icon-col">
            <div class="icon-circle background-color-1 icon-color-1">
              <i class="fa fa-fw fa-user"></i>
            </div>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">8780</h5>
              <p class="card-text">Coaches</p>
              <p class="card-subtext">Total coaches registered and active</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 ">
      <div class="card mb-3 shadow rounded" >
        <div class="row no-gutters">
          <div class="col-md-4 icon-col">
            <div class="icon-circle background-color-3 icon-color-3 ">
              <i class="fa fa-fw fa-user"></i>
            </div>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">8780</h5>
              <p class="card-text">Teams</p>
              <p class="card-subtext">Total coaches registered and active</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>


  <div class="third-row">
  <div class="card mb-3 shadow rounded">
   <div class="card-body">

     <router-outlet></router-outlet>

</div>
</div>
</div>

 -->