
<!-- <router-outlet></router-outlet> -->
 <div class="top-bar shadow rounded">

        <div class="row">
          <div class="col-lg-2 topbar-icon-col">
           <a routerLink="/allusers"> <button class="shadow" >Show All Users</button> </a>
         </div>
          <div class="col-lg-2 topbar-icon-col">
           <a routerLink="/add-referee"> <button class="shadow" >Add Referee</button> </a>
         </div>
         <div class="col-lg-2 topbar-icon-col">
          <button class="shadow">Add Manager</button>
        </div>
        <!-- <div class="col-lg-2 topbar-icon-col">
          <button class="shadow">Add Sponsor</button>
        </div> -->

        <div class="col-lg-3"></div>

        <div class="col-lg-3 topbar-icon-col">
          <div class="row no-gutters">
            <div class="col-lg-6 profile-text">
              <div class="profile-child">
               <p class="profile-text-title">Jane Doe</p>
               <p class="profile-text-subtitle">Admin</p>
             </div>
           </div>

           <div class="col-lg-3">
            <div class="profile-image"></div>
          </div>
        </div>
      </div>

    </div>
  </div>
<br>
  <div class="container second-row">
    <div class="row">
      <div class="col-lg-4 ">
       <div class="card mb-3 shadow rounded" >
        <div class="row no-gutters">
          <div class="col-md-4 icon-col">
            <div class="icon-circle background-color-2 icon-color-2">
              <i class="fa fa-fw fa-user "></i>
            </div>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">8780</h5>
              <p class="card-text">Users</p>
              <p class="card-subtext">Total users registered and active</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 ">
      <div class="card mb-3 shadow rounded" >
        <div class="row no-gutters">
          <div class="col-md-4 icon-col">
            <div class="icon-circle background-color-1 icon-color-1">
              <i class="fa fa-fw fa-user"></i>
            </div>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">8780</h5>
              <p class="card-text">Coaches</p>
              <p class="card-subtext">Total coaches registered and active</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 ">
      <div class="card mb-3 shadow rounded" >
        <div class="row no-gutters">
          <div class="col-md-4 icon-col">
            <div class="icon-circle background-color-3 icon-color-3 ">
              <i class="fa fa-fw fa-user"></i>
            </div>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">8780</h5>
              <p class="card-text">Teams</p>
              <p class="card-subtext">Total coaches registered and active</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>


  <div class="third-row">
  <div class="card mb-3 shadow rounded">
   <div class="card-body">
    <!-- <h5 class="card-title">{{ title }}</h5>
    <br>
 -->
     <router-outlet></router-outlet>
<!--   <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Role ID</th>
        <th scope="col">User ID</th>
        <th scope="col">Edit/Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Shantanu</td>
        <td>Ojha</td>
        <td>2</td>
        <td>3492</td>
        <td>
          <a><i class="fa fa-pencil edit-user-btn" aria-hidden="true"></i></a>
          <a data-toggle="modal" data-target="#delete-user-modal"> <i class="fa fa-times delete-user-btn" aria-hidden="true"></i> </a>
         
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Divya</td>
        <td>Dpoluri</td>
        <td>4</td>
        <td>7384</td>
        <td>
          <a><i class="fa fa-pencil edit-user-btn" aria-hidden="true"></i></a>
          <a><i class="fa fa-times delete-user-btn" aria-hidden="true"></i> </a>
        </td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Jennifer</td>
        <td>Sarfo</td>
        <td>1</td>
        <td>3840</td>
        <td>
          <a><i class="fa fa-pencil edit-user-btn" aria-hidden="true"></i></a>
          <a><i class="fa fa-times delete-user-btn" aria-hidden="true"></i> </a>
        </td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Sahithi</td>
        <td>aaa</td>
        <td>1</td>
        <td>5334</td>
        <td>
          <a><i class="fa fa-pencil edit-user-btn" aria-hidden="true"></i></a>
          <a><i class="fa fa-times delete-user-btn" aria-hidden="true"></i> </a>
        </td>
      </tr>
    </tbody>
  </table> -->

</div>
</div>
</div>

