/*@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');*/


body{
	/*background-image: url("../../assets/images/2.jpg");
	background-size: cover;*/
	/*background-color: #D8282B;*/
	background-color: #AF272F;
	font-family: "Muli", serif;
}

.navbar{
	width: 100%;
	height: 4rem;
	background-color: white;
	position: fixed;
	margin-top: auto;
	padding: 0;
}

.navbar a{
	float: left;
	text-align: center;
	display: block;
	padding: 1rem 1.5rem;
	color: black;
	text-decoration: none;
}

.navbar .logo-col{
	padding: 1rem 1.5rem;
}

.container1{
	/*position: relative;*/
	/*padding-top: 5rem;*/
	/*height: 100%;
	padding-bottom: 5rem;*/
}

.row{
	width: 100%;
}

.register-card{
	width: 50rem;
	margin: auto;

}

.register-card .left-col{
	/*background-color: blue;*/
	background-image: url("../../assets/images/3.jpg");
	background-size: COVER;
	background-repeat: no-repeat;
} 

.align-vertically{
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	margin-top: 3rem;
}


.card-body{
	padding: 0;
}

.card-body .right-col{
	padding-top: 4rem;
	padding-bottom: 4rem;
	padding-right: 3rem;
	padding-left: 3rem;
}


.input-group-text{
	background-color: #D8282B;
	color: white;
}


.btn-primary {
	background-color: #D8282B;
	border-color: #D8282B;
}

.btn{
	width: 100%;
}

