body{
	background-color: #f3f3f3;
}

.addButton{
	background-color: blue;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	padding: 10px;
}

.background-color-1{
	background-color: rgba(216, 40, 43, 0.4);
}

.background-color-2{
	background-color: rgba(0, 123, 225, 0.4);
}


.background-color-3{
	background-color: rgba(255, 193, 8, 0.4);
}

.container{
	padding: 0;
}

.edit-user-btn{
	color: green;
	padding-right: 20px;
}

.delete-user-btn, .pending-icon{
	color: #AF272F;
}

.second-row .icon-col{
	position: relative;
}


.icon-color-1 i{
	color: #D8282B;
}

.icon-color-2 i{
	color: #284C88;
}

.icon-color-3 i{
	color: #FEDB00;
}


.logo-name{
	color: white;
	font-size: 1.5rem;
}

.main-page{
	width: calc(100vw - 15rem);
	margin-left: 15rem; 
	padding: 0.4rem 1rem 0 1rem;
	/*background-color: yellow;*/
	
}

.navbar{
	padding: 0;
}

.navbar a{
	float: left;
	text-align: center;
	display: block;
	padding: 1rem 0.5rem;
	color: white;
	text-decoration: none;
}

.profile-image{
	background-image: url("../../../assets/images/profile.jpeg");
	width: 50px;
	height: 50px;
	background-color: blue;
	background-size: cover;
	background-position: top center;
	border-radius: 50%;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.profile-text{
	position: relative;
}

.profile-text-title{
	font-weight: bold;
	font-size: 0.8rem;
}

.profile-text-subtitle{
	font-weight: 400;
	font-size: 0.7rem;
}

.profile-child{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.profile-text p{
	font-size: 0.7rem;
	margin-bottom: 0;
}

.profile-image img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.profile-image-row{
	/*position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);*/
	background-color: blue;
}



.sidebar{
	position: fixed;
	left: 0;
	top: 0;
	width: 15rem;
	height: 83%;
	background-color: #AF272F;
	padding: 2rem;
	z-index: 99;
	float: left;
}


.second-row .card-title{
	margin-bottom: 0;
	font-size: 1.85rem;
}

.second-row .card-text{
	font-weight: 300;
	font-size: 0.8rem;
	margin-bottom: 0.6rem;
}

.second-row .card-subtext {
	font-weight: 300;
	font-size: 0.7rem;
	color: grey;
}

.second-row i{
	font-size: 30px;
	
}

.second-row .icon-circle {
	/*background-color: rgba(216, 40, 43, 0.4);*/
	border-radius: 50%;
	padding: 10px;
	width: 50px;
	height: 50px;
	/*text-align: center;*/

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.second-row .icon-col i{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.second-row .card{
	border: none;
}


.top-bar{
	width: 100%;
	height: 4rem;
	background-color: white;
}

.top-bar .row{
	height: 4rem;
	padding-left: 1rem;
}

.top-bar .topbar-icon-col{
	position: relative;
}

.top-bar .topbar-icon-col i{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}


.top-bar .icon-circle {
	border-radius: 50%;
	padding: 10px;
	width: 35px;
	height: 35px;
	display: table;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


.top-bar button{
	border: 1px;
	background: #db393c;
	/* padding: 2px; */
	width: 150px;
	height: 34px;
	border-radius: 5px;
	color: white;
	display: table;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 0.8rem;
}


tbody, th {
	font-size: 0.8rem;
}

