      <!doctype html>
        <html lang="en">
        <head>
          <!-- Required meta tags -->
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

          <!-- Bootstrap CSS -->
          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
          <link rel="stylesheet" href="../../../assets/font-awesome-4.7.0/css/font-awesome.min.css">
          <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
          <link rel="stylesheet" href="addReferee.component.css" >


          <title>ADMIN DASHBOARD</title>
        </head>
        <body>

          <div class="sidebar">

            <div class="logo-section">
              <div class="logo-name">Soccer Web App</div>
            </div>

            <div class="navbar">

              <a href="#"><i class="fa fa-fw fa-home"></i> Dashboard</a>
              <a href="#"><i class="fa fa-fw fa-search"></i> Coaches</a>
              <a href="#"><i class="fa fa-fw fa-envelope"></i> Referees</a>
              <a href="#"><i class="fa fa-fw fa-user"></i> Teams</a>

            </div>

          </div>

          <div class="main-page">
            <div class="top-bar shadow rounded">

              <div class="row">
                <div class="col-lg-2 topbar-icon-col">
                  <button class="shadow">Add New</button>
                    <!-- <div class="icon-circle background-color-2 icon-color-2">
                      <i class="fa fa-plus" aria-hidden="true"></i> 
                    </div> -->

                  </div>
                </div>
              </div>

              <br>

    <!--           <div class="container content-row">
                <div class="row">
                  <div class="col-lg-12 "> -->
                   <div class="card mb-3 shadow rounded content-row" >
                    <div class="card-body">
                      <div class="card-title"> REGISTER - REFEREE</div>
                      <br>
                      <div class="container">
                        <div class="row">
                          <div class="col-lg-2"></div>
                          <div class="col-lg-8">
                            <div class="row">
                              <div class="col-lg-6 ">
                               <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text" id="firstname-input">
                                    <i class="fa fa-user-circle" aria-hidden="true"></i></span>
                                  </div>
                                  <input type="text" class="form-control" placeholder="First Name" aria-label="Firstname" aria-describedby="basic-addon1">
                                </div>
                              </div>

                              <div class="col-lg-6 ">
                                <div class="input-group mb-3">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text" id="lastname-input">
                                      <i class="fa fa-user-circle" aria-hidden="true"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Last Name" aria-label="Lastname" aria-describedby="basic-addon1">
                                  </div>
                                </div>
                              </div>

                              <div class="row">
                                <div class="col-lg-6 ">
                                  <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text" id="email-input">
                                        <i class="fa fa-envelope" aria-hidden="true"></i>
                                      </div>
                                      <input type="email" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1">
                                    </div>
                                  </div>
                                  <div class="col-lg-6 ">
                                    <div class="input-group mb-3">
                                      <div class="input-group-prepend">
                                        <span class="input-group-text" id="phone">
                                          <i class="fa fa-phone" aria-hidden="true"></i>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Contact" aria-label="Contact #" aria-describedby="basic-addon1">
                                      </div>
                                    </div>
                                  </div>

                                  <div class="row">
                                     <div class="col-lg-6 ">
                                    <div class="input-group mb-3">
                                      <div class="input-group-prepend">
                                        <span class="input-group-text" id="username">
                                          <i class="fa fa-user-circle" aria-hidden="true"></i>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                                      </div>
                                    </div>

                                    <div class="col-lg-6 ">
                                      <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                          <span class="input-group-text" id="password">
                                            <i class="fa fa-key" aria-hidden="true"></i>
                                          </div>
                                          <input type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
                                        </div>
                                      </div>
                                    </div>

                                    <div class="row">
                                     <div class="col-lg-6 ">
                                    <div class="input-group mb-3">
                                      <div class="input-group-prepend">
                                        <span class="input-group-text" id="address">
                                          <i class="fa fa-map-marker" aria-hidden="true"></i>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Address" aria-label="Address" aria-describedby="basic-addon1">
                                      </div>
                                    </div>

                                    <div class="col-lg-6 ">
                                      <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                          <span class="input-group-text" id="country">
                                            <i class="fa fa-globe" aria-hidden="true"></i>
                                          </div>
                                          <input type="text" class="form-control" placeholder="Country" aria-label="Country" aria-describedby="basic-addon1">
                                        </div>
                                      </div>
                                    </div>

                                     <div class="row">
                                     <div class="col-lg-6 ">
                                    <div class="input-group mb-3">
                                      <div class="input-group-prepend">
                                        <span class="input-group-text" id="city">
                                          <i class="fa fa-map-marker" aria-hidden="true"></i>
                                        </div>
                                        <input type="text" class="form-control" placeholder="City" aria-label="City" aria-describedby="basic-addon1">
                                      </div>
                                    </div>

                                    <div class="col-lg-6 ">
                                      <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                          <span class="input-group-text" id="role">
                                            <i class="fa fa-user-circle" aria-hidden="true"></i>
                                          </div>
                                          <input type="text" class="form-control" placeholder="Role" aria-label="Role" aria-describedby="basic-addon1" value="Role: Referee" readonly="true">
                                        </div>
                                      </div>
                                    </div>

                                    <br>

                                    <a href="#" class="btn btn-primary ">Create Referee</a>
                                  </div>
                                  <div class="col-lg-2"></div>
                                </div>
                              </div>
                            </div>
                  <!--       </div>
                      </div>
                    </div> -->
      <!-- 
            <div class="container second-row">
              <div class="row">
                <div class="col-lg-4 ">
                 <div class="card mb-3 shadow rounded" >
                  <div class="row no-gutters">
                    <div class="col-md-4 icon-col">
                      <div class="icon-circle background-color-2 icon-color-2">
                        <i class="fa fa-fw fa-user "></i>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title">8780</h5>
                        <p class="card-text">Users</p>
                        <p class="card-subtext">Total users registered and active</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 ">
                <div class="card mb-3 shadow rounded" >
                  <div class="row no-gutters">
                    <div class="col-md-4 icon-col">
                      <div class="icon-circle background-color-1 icon-color-1">
                        <i class="fa fa-fw fa-user"></i>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title">8780</h5>
                        <p class="card-text">Coaches</p>
                        <p class="card-subtext">Total coaches registered and active</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 ">
                <div class="card mb-3 shadow rounded" >
                  <div class="row no-gutters">
                    <div class="col-md-4 icon-col">
                      <div class="icon-circle background-color-3 icon-color-3 ">
                        <i class="fa fa-fw fa-user"></i>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title">8780</h5>
                        <p class="card-text">Teams</p>
                        <p class="card-subtext">Total coaches registered and active</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div> -->


        </div>





        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      </body>
      </html>