   <div class="sidebar">

    <div class="logo-section">
      <div class="logo-name" style="text-align:center; font-size: 1rem;">2020 Highlights</div>
    </div>
    <br>
    <div class="navbar">
      <!-- <div class="highlights"></div> -->
      <div class="highlightsImage">
        <img src="../assets/images/6.jpeg">
      </div>
      <div class="highlightsImage">
        <img src="../assets/images/5.jpeg">
      </div>
      <div class="highlightsImage">
        <img src="../assets/images/4.jpeg">
      </div>

<!--       <a href="#"><i class="fa fa-fw fa-home"></i> Dashboard</a>
      <a href="#"><i class="fa fa-fw fa-search"></i> Coaches</a>
      <a href="#"><i class="fa fa-fw fa-envelope"></i> Volunteers</a>
      <a href="#"><i class="fa fa-fw fa-user"></i> Teams</a> -->

    </div>

  </div>

  <div class="main-page align-vertically">
    <div class="tournamentDetails row">
     <div class="col-lg-12 ">
       <div class="card mb-3 shadow rounded" >
        <br>
        <h4> Volunteer Center for the 2021 ASU Sparky Soccer Tournament</h4>
        <!-- <p> <b>WHEN:</b> </p>
        <p> <b>WHERE:</b> </p>
        <p> <b>FEES:</b> </p>
        <p> <b>APPLICATION DEADLINE:</b> </p>
        <p> <b>PAY TO:</b> </p> -->
        <!-- <p> <b>APPLICATION INSTRUCTIONS:</b> </p> -->
        <br>
       <!--  <div class="line"></div>
        <br> -->
         <p style="font-size: 0.9rem;"> <b>APPLICATION INSTRUCTIONS:</b> </p>
         <p style="font-size: 0.9rem;"> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
        <br>

         <p style="font-size: 0.9rem;">  <b>Click on the button below to register or login in the next section:</b> </p>

        <button type="submit" routerLink="/registerVolunteer" class="btn btn-primary-2">Start Registration</button>
        <br>
      </div>
    </div>
  </div>

  <div class="container second-row">
    <div class="row">
      <div class="col-lg-12 ">
       <div class="card mb-3 shadow rounded" >
        <br>
        <p> <b>VOLUNTEER LOGIN</b> </p>
        <p>Login below with your REF ID to see your schedules</p>
        <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" >
          <br>
          <!-- <p class="subtitle"> <b>REF ID</b> </p> -->
          <!-- <br> -->
          <div class="row">
            <div class="col-lg-2 tournamentApplicationForm">
              <p class="label"> <b>REF ID</b> </p>
            </div>
            <div class="col-lg-6">
             <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="teamName">
                  <i class="fa fa-user-circle" aria-hidden="true"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="" aria-label="teamName" aria-describedby="basic-addon1">
              </div>
              <button type="submit" routerLink="/volunteerDirectorHomepage" [disabled]="!loginForm.form.valid"
          class="btn btn-primary">Login</button>
            </div>
          </div>


          <br>

        </form>
        <br>
      </div>
    </div>


  </div>
</div>

</div>
