body{
	background-color: #f3f3f3;
}

.register-card{
	width: 50rem;
	margin: auto;

}

.register-card .left-col{
	/*background-color: blue;*/
	background-image: url("../../../assets/images/3.jpg");
	background-size: COVER;
	background-repeat: no-repeat;
} 

.align-vertically{
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	margin-top: 3rem;
}


.card-body{
	padding: 0;
}

.card-body .right-col{
	padding-top: 4rem;
	padding-bottom: 4rem;
	padding-right: 3rem;
	padding-left: 3rem;
}


.input-group-text{
	background-color: #284c88;
	color: white;
}


.btn-primary {
	background-color: #284c88;
	border-color: #284c88;
}

.btn{
	width: 100%;
}

