    <h5 class="card-title">{{ title }}</h5>
    <br>

    <form #tournamentForm="ngForm" (ngSubmit)="onSubmit()" >
      <div class="container">
        <div class="row">
          <div class="col-lg-2"></div>
          <div class="col-lg-8">
            <div class="row">

              <div class="col-lg-6 ">
               <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="firstname-input">
                    <i class="fa fa-user-circle" aria-hidden="true"></i></span>
                  </div>
                  <input type="text" class="form-control" id="tournamentName" name="tournamentName" placeholder="Tournament Name" aria-label="TournamentName" aria-describedby="basic-addon1" [(ngModel)]="tournament.tournamentName" ng-change="tournament.tournamentName" required #tournamentName="ngModel">
                </div>
              </div>

              <div class="col-lg-6 ">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="role">
                      <i class="fa fa-user-circle" aria-hidden="true"></i></span>
                    </div>
                    <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="id" [(ngModel)]="categoryChosen.id" required #id="ngModel" >

                      <option [ngValue]="null" disabled selected>Category</option>
                      <option *ngFor="let c of categories" [ngValue]="c.id" style="color: black">{{c.categoryName}} => ({{c.minAge}} - {{c.maxAge}})</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="row">
               <div class="col-lg-6 ">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="username">
                      <i class="fa fa-calendar" aria-hidden="true"></i></span>
                    </div>
                    <input type="text" class="form-control" id="startDate" name="startDate" placeholder="Start Date" aria-label="startDate" aria-describedby="basic-addon1" [(ngModel)]="tournament.startDate" required #startDate="ngModel">
                  </div>
                </div>

                <div class="col-lg-6 ">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="password">
                        <i class="fa fa-calendar" aria-hidden="true"></i></span>
                      </div>
                      <input type="text" class="form-control" id="endDate" name="endDate" placeholder="End Date" aria-label="endDate" aria-describedby="basic-addon1" [(ngModel)]="tournament.endDate" required #endDate="ngModel">
                    </div>
                  </div>
                </div>
                <br>

                <button type="submit" [disabled]="!tournamentForm.form.valid" 
                class="btn btn-secondary">Create Tournament</button>

                <!--  <a href="#" class="btn btn-primary ">Create Referee</a> -->
              </div>
              <div class="col-lg-2"></div>
            </div>
          </div>
        </form>

    <!-- <form [formGroup]="formdata" #tournamentForm (ngSubmit)="onSubmit()" >
      <div class="container">
        <div class="row">
          <div class="col-lg-2"></div>
          <div class="col-lg-8">

           <div class="row">
            <div class="col-lg-6 ">
             <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="firstN-input">
                  <i class="fa fa-user-circle" aria-hidden="true"></i></span>
                </div>

                <input type="text" class="form-control" id="tournamentName" formControlName="tournamentName" placeholder="Tournament Name" aria-label="tournamentName" aria-describedby="basic-addon1" [(ngModel)]="tournament.tournamentName" required >
              </div>
            </div>

            <div class="col-lg-6 ">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="role">
                    <i class="fa fa-user-circle" aria-hidden="true"></i></span>
                  </div>
                  <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="category" formControlName="category" [(ngModel)]="tournament.category" required >

                    <option *ngFor="let c of categories" [ngValue]="c.id" style="color: black">{{c.categoryName}}</option>

                  </select>
                </div>
              </div>
            </div>

            <div class="row">
             <div class="col-lg-6 ">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="city">
                    <i class="fa fa-map-marker" aria-hidden="true"></i></span>
                  </div>
                  <input type="text" class="form-control" id="startDate" formControlName="startDate" placeholder="StartDate" aria-label="startDate" aria-describedby="basic-addon1" [(ngModel)]="tournament.startDate" required >
                </div>
              </div>

              <div class="col-lg-6 ">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="city">
                      <i class="fa fa-map-marker" aria-hidden="true"></i></span>
                    </div>
                    <input type="text" class="form-control" id="startDate" formControlName="endDate" placeholder="End Date" aria-label="endDate" aria-describedby="basic-addon1" [(ngModel)]="tournament.endDate" required >
                  </div>
                </div>
              </div>


              <br>

              <button type="submit" [disabled]="!tournamentForm.form.valid" 
              class="btn btn-primary">Create Tournament</button>

            </div>
            <div class="col-lg-2"></div>
          </div>
        </div>
      </form> -->



      <!-- User Creation Modal -->
         <!--  <div class="modal fade" id="user-creation-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Success!!</h5>
                  <button type="button" #close data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body" >
                  User Created: 
                  <table class="table table-striped">
                    <thead >
                      <tr>
                        <th scope="col">User ID</th>
                        <th scope="col">Name</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let c of createReferee ">
                        <th scope="row">{{c.id}}</th>
                        <td>{{c.firstName}} {{c.lastName}}</td>
                      </tr>
                    </tbody>
                  </table>

                </div>
                <div class="modal-footer">
            
                  <button type="button" class="btn btn-primary" data-dismiss="modal">Okay</button>
                </div>

              </div>
            </div>
          </div>


 -->